/* USER PROFILE PAGE */
.card.hovercard {
    margin-top: 0;
}

 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    height: 290px;
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-subscribe {
    position: absolute;
    top: 15px;
    right: 10px;
    height: 110px;
}
.card.hovercard .card-subscribe .btn{
    border-radius: 0px;
    text-align: center;
    background-color: #b08f6b;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.8);
}
.card.hovercard .card-subscribe .btn:hover {
    background-color: #434343;
    border-color: #434343;
    border: 2px solid rgba(255, 255, 255, 0.8);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
/*    width: 100px;
    height: 100px;*/
    width: 170px;
    height: 170px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(169, 68, 66, 0.34);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
.card.hovercard p {
    color:#fff;
}
.card.hovercard .card-info .card-title {
    padding:5px;
    font-size: 26px;
    line-height: 2;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 10px;
    color: #737373;
    text-overflow: ellipsis;
    
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.btn-group span.fa.fa-info:before {
    font-size: 28px;
}

.btn-group div.hidden-xs {
    font-size: 16px;
}

.btn-group span.glyphicon.glyphicon-user:before {
    font-size: 25px;
}

div#stars .btn-group button {
    padding: 8px;
}

div#stars button.btn:focus {
	background:#b08f6b;
    border-color: #ccc;
}

div#stars button.btn:active{
	background:#b08f6b;
    border-color: #ccc;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 12px;
	font-size:14px;
}

/*
.user-page .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    width: 50%;
}

tr td:first-child {
	text-transform: uppercase;
    width: 25% !important;
}
*/


.tab-content center h2 {
    text-align: left;
    font-size: 18px;
    color: #b08f6b;
    font-weight: 600;
}




.bg-warning {
    background-color: #fff;
}


.user-page .upd__box {
    border: 0;
}

.user-page .upd__table {
    padding-left:0;
    padding-right:0;
}

.user-page .upd__photos {
    margin-top: 30px;
    margin-bottom: 30px;
}

.user-page .upd__box {
    margin-bottom: 0;
}

.user-page .upd__table {
    padding-bottom: 0;
	
}
